{
  "$schema": "https://json.schemastore.org/swcrc",
  "module": {
    "type": "es6",
    "lazy": true,
    "noInterop": true,
    "strict": true
  },
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "react": {
        "pragma": "React.createElement",
        "pragmaFrag": "React.Fragment",
        "throwIfNamespace": true,
        "development": false,
        "useBuiltins": true,
        "runtime": "automatic",
        "refresh": true
      }
    },
    "target": "es5",
    "loose": true,
    "externalHelpers": true
  },
  "minify": true,
  "sourceMaps": true,
  "isModule": true
}
